body {
  background: #111;
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 70vh;
  width: 80vw;
  flex-wrap: wrap;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);

}

